<!-- Google Maps section -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h2>Besoin d'information ?</h2>
			<p>N'hésitez pas à nous appeler ou à nous écrire, nous vous répondrons dans les plus brefs délais. </p>
		</div>
		<div id="map" class="gmap gmap-md"></div>
	</div><!-- end container -->
</div>
<!-- end Google Maps section -->

<!-- Contact Info section -->
<div class="section no-padding-top">
	<div class="container">
		<div class="row text-center">
			<!-- Icon text box 1 -->
			<div class="col-12 col-sm-6 col-md-4 icon-3xl">
				<i class="ti ti-email text-dark margin-bottom-20"></i>
				<h6 class="heading-uppercase no-margin">Email</h6>

				<p><a href="mailto:triki.nizar@gmail.com" target="_blank">germanmotors80@yahoo.com</a></p>
			</div>
			<!-- Icon text box 2 -->
			<div class="col-12 col-sm-6 col-md-4 icon-3xl">
				<i class="ti ti-mobile text-dark margin-bottom-20"></i>
				<h6 class="heading-uppercase no-margin">Phone</h6>
				<p>+216 52 030 242</p>
			</div>
			<!-- Icon text box 3 -->
			<div class="col-12 col-sm-6 col-md-4 icon-3xl">
				<i class="ti ti-location-pin text-dark margin-bottom-20"></i>
				<h6 class="heading-uppercase no-margin">Address</h6>
				<p>RN1 À côté de Briquerie، Farjallah,<br> Hammamet Sud</p>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- ***** JAVASCRIPTS ***** -->
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibnRyaWtpIiwiYSI6ImNrN3J6cTZ4NDBpanIzZW91ZGk5emdzNXoifQ.WGWfa-jdOw5K5EjoyoikzQ';
    mapboxgl.setRTLTextPlugin(
      'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
      null,
      true // Lazy load the plugin
      );

      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [10.5281221, 36.3725045],
      zoom: 14,
      interactive: false
      });
      // disable map zoom when using scroll
      map.scrollZoom.disable();
      var marker = new mapboxgl.Marker()
      .setLngLat([10.5281221, 36.3725045])
      .addTo(map);
  </script>
