<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="payment-detail-box">
					<h5 class="margin-bottom-20">Payment Details</h5>
					<ul>
						<li><h6 class="heading-uppercase">Subtotal:</h6><span>$58</span></li>
						<li><h6 class="heading-uppercase">Shipping:</h6><span>$0</span></li>
						<li><h6 class="heading-uppercase">Total:</h6><span class="text-dark">$58</span></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="table-responsive">
					<table class="product-table">
						<thead>
							<tr>
								<th scope="col"><h6 class="heading-uppercase no-margin">Product</h6></th>
								<th scope="col"><h6 class="heading-uppercase no-margin">Price</h6></th>
								<th scope="col"><h6 class="heading-uppercase no-margin">Quantity</h6></th>
								<th scope="col"><h6 class="heading-uppercase no-margin">Total</h6></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<!-- Table row 1 -->
							<tr>
								<td class="cart-product-thumbnail">
									<a href="#"><img src="/assets/img-circle-small.jpg" alt=""></a>
									<h6>Product Title</h6>
								</td>
								<td>
									<span>$29</span>
								</td>
								<td class="cart-product-quantity">
									<div class="product-quantity">
										<button class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></button>
										<input type="text" name="quantity" id="quantity" value="1">
										<button class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></button>
									</div>
								</td>
								<td class="cart-product-subtotal">
									<span class="font-weight-bold">$29</span>
								</td>
								<td class="cart-product-remove">
									<button><i class="ti-close"></i></button>											
								</td>
							</tr>
							<!-- Table row 2 -->
							<tr>
								<td class="cart-product-thumbnail">
									<a href="#"><img src="/assets/img-circle-small.jpg" alt=""></a>
									<h6>Product Title</h6>
								</td>
								<td>
									<span>$29</span>
								</td>
								<td class="cart-product-quantity">
									<div class="product-quantity">
										<button class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></button>
										<input type="text" name="quantity" id="quantity" value="1">
										<button class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></button>
									</div>
								</td>
								<td class="cart-product-subtotal">
									<span class="font-weight-bold">$29</span>
								</td>
								<td class="cart-product-remove">
									<button><i class="ti-close"></i></button>											
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- end table-responsive -->
			</div>

			
		</div><!-- end row -->
	</div><!-- end container -->
		</div>