<div class="section">
	<div class="container">
		<div class="table-responsive">
			<table class="product-table">
				<thead>
					<tr>
						<th scope="col"><h6 class="heading-uppercase no-margin">Product</h6></th>
						<th scope="col"><h6 class="heading-uppercase no-margin">Price</h6></th>
						<th scope="col"><h6 class="heading-uppercase no-margin">Stock Status</h6></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<!-- Table row 1 -->
					<tr>
						<td class="wishlist-product-thumbnail">
							<a href="#"><img src="/assets/img-circle-small.jpg" alt=""></a>
							<h6>Product Title</h6>
						</td>
						<td>
							<span>$29</span>
						</td>
						<td>
							<p class="text-dark"><i class="fas fa-check"></i> In Stock</p>
						</td>
						<td class="wishlist-product-button">
							<button class="button button-lg button-grey">Add to Cart</button>
						</td>
						<td class="wishlist-product-remove">
							<button><i class="ti-close"></i></button>											
						</td>
					</tr>
					<!-- Table row 2 -->
					<tr>
						<td class="wishlist-product-thumbnail">
							<a href="#"><img src="/assets/img-circle-small.jpg" alt=""></a>
							<h6>Product Title</h6>
						</td>
						<td>
							<span>$29</span>
						</td>
						<td>
							<p class="text-dark"><i class="fas fa-times"></i> Out of Stock</p>
						</td>
						<td class="wishlist-product-button">
							<button class="button button-lg button-grey">Add to Cart</button>
						</td>
						<td class="wishlist-product-remove">
							<button><i class="ti-close"></i></button>											
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- end table-responsive -->
	</div><!-- end container -->
</div>