<!-- Product Content -->
<div class="section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-6 product-single">
				<div class="product-single-img">
					<div class="product-single-img-slider" data-owl-items="1" data-owl-nav="true">
						<div data-hash="first">
							<%= image_tag("moteur.jpg") %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<!-- Product Price -->
				<div class="product-price">
					<h5 class="font-weight-light">500TND</h5>
				</div>
				<!-- Product Title -->
				<h4>Moteur d’occasion M47D20 115CH</h4>
				<!-- Product text -->
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Product Content -->

<!-- Product Tab content -->
<div class="section no-padding-top">
	<div class="container">
		<div class="product-tab">
			<ul class="nav margin-bottom-20">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#tab-description"><h5 class="font-weight-light">Description</h5></a>
				</li>
			</ul>
			<div class="tab-content">
				<!-- Description tab content -->
				<div class="tab-pane fade show active" id="tab-description">
					<div class="margin-bottom-20">
						<h6 class="heading-uppercase">Product Material:</h6>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
					<div>
						<h6 class="heading-uppercase">Additional Information:</h6>
						<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end container -->
</div>
<!-- end Product Tab content -->

