<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @constructeur.nom %>
</p>

<%= link_to 'Edit', edit_constructeur_path(@constructeur) %> |
<%= link_to 'Back', constructeurs_path %>
